            body {
                background-color: #FF8000;
            }

            #canvas {
                background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7xoekfqZxDbkCP6TLChaSoZvhtgWCZpUfnx5rLVtwxe5VqVaqJe55gHdH-A1Fsxos8Ss&usqp=CAU");
            }

            button {
                background-color: #cc6600;
                border: 2px solid black;
                border-radius: 7%;
            }
