            body {
                background-color: #0066cc;
            }

            #canvas {
                background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.o8S0mQt5amY4DNuXxQ9zigHaEH%26pid%3DApi&f=1&ipt=4b2508478b2d4db67e342b635371cc98ffe0236a644c04c50022353b96826328&ipo=images");
            }

            button {
                background-color: #000066;
                color: white;
                border: 2px solid black;
                border-radius: 2%;
                width: 160px;
                height: 90px;
                font-size: 30px;
            }

            #chosenone {
              width: 900px;
              height: 160px;
              background-color: #ccccff;
              text-align: center;

              h1 {
                font-size: 52px;
              }
            }

            b {
              font-size: 25px;
              color: white;
            }

            img {
              width: 230px;
              height: 200px;
              margin-top: -1vw;
            }

            #title {
              font-size: 25px;
              color: white;
              background-color: #ff6600;
              width: 600px;
            }
