body { /*update*/
    background-color: black;
}

b {
    color: white;
}

#input {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    width: 300px;
}

div {
    color: white;
}

#listCMD {
    visibility: hidden;
    position: relative;
    z-index: 10;
    top: -5em;
}

input {
    outline: none;
}

#feedback {
    visibility: hidden;
    position: relative;
    z-index: 3;
    top: -3.5em;
}

#update {
    visibility: hidden;
    position: relative;
    z-index: 4;
}

#doc {
    margin-top: -31em;
    visibility: hidden;
}

#docList {
    margin-top: -3em;
}

#images {
    margin-top: -4.5em;
    visibility: hidden;
}

#audio {
    margin-top: -4.5em;
}

#songs {
    margin-top: -3.5em;
    visibility: hidden;
}

#natureSounds {
    margin-top: -3.5em;
    visibility: hidden;
}

