body {
    margin: 1;
    color: white;
    background-color: black;
    font-family: ap;
}

@font-face {
    font-family: ap;
    src: url(ap.ttf);
}

input {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-family: ap;
    font-size: medium;
}

b {
    color: white;
}
