body {
    background: linear-gradient(to bottom right, #6a85a0, #8eadcc);
}


button {
    background-color: #3a4c5e;
    cursor: pointer;
    border: none;
    margin-bottom: 1rem;
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-bottom-color: #1e2730;
    border-bottom-style: solid;
    border-right-color: #1e2730;
    border-right-style: solid;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
